/*--------------------------------------------------------------
TEAM Carousel
----------------------------------------------------------------
# Team Carousel
--------------------------------------------------------------*/


.pxl-team-grid1,.pxl-team-carousel1 {
	.pxl-grid-filter {
		margin-bottom: 72px;
		@media (max-width: 991px) {
			margin-bottom: 42px;
		}
		.pxl--filter-inner {
			column-gap: 80px;
			.filter-item {
				color: #c5c5c5;
				@extend .ft-gt;
				font-size: 50px;
				font-weight: 400;
				line-height: 1;
				padding-bottom: 0;
				@media (max-width: 991px) {
					font-size: 38px;
				}
				@media (max-width: 767px) {
					font-size: 30px;
				}
				@media (max-width: 575px) {
					font-size: 24px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: #c5c5c5;
					bottom: 7px;
					right: -5px;
					@media (max-width: 767px) {
						bottom: 4px;
						right: -6px;
					}
				}
				&:before {
					content: none;
				}
				&.active {
					color: $secondary_color;
					&:after {
						background-color: $secondary_color;
					}
				}
			}
		}
	}
	.pxl-grid-item,.pxl-swiper-slide {
		margin-bottom: 30px;
		.pxl-item--inner  {
			position: relative;
			overflow: hidden;
			.pxl-item--holder {
				position: absolute;
				top: 0;
				left: 0;
				background-color: $secondary_color;
				width: 100%;
				height: 100%;
				padding: 69px 47px 26px;
				@media (max-width: 767px) {
					padding: 29px 15px 26px;
				}
				>a {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
				}
			}
			.pxl-item--position {
				font-size: 15px;
				color: #c2c2c2;
				line-height: 35px;
				@extend .ft-public;
				margin-top: 5px;
			}
			.pxl-item--desc {
				font-size: 15px;
				color: #c2c2c2;
				line-height: 26px;
				@extend .ft-public;
				margin-top: 30px;
			}
			.pxl-item--title {
				font-size: 25px;
				margin-bottom: 0;
				font-weight: 500;
				line-height: 35px;
				@extend .ft-gt;
				a {
					color: #fff;
				}
			}
			.pxl-item--social {
				display: flex;
				align-items: center;
				gap: 20px;
				margin-top: 27px;
				padding-top: 29px;
				margin-bottom: 96px;
				border-top: 1px solid rgba(#fff, .15);
				@media (max-width: 991px) {
					margin-bottom: 30px;
				}
				a {
					color: #fff;
				}
			}
			.btn-arrow {
				display: block;
				text-align: end;
				svg {
					height: 62px;
					width: 62px;
					path {
						fill: #fff;
					}
				}
			}
			.pxl-item--image {
				position:relative;
				overflow: hidden;
				img {
					@include transition(all .35s cubic-bezier(.645,.045,.355,1));
					width: 100%;
					filter: grayscale(1) brightness(0.9);
					object-fit: cover;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					border-radius: inherit;
					left: 0;
					height: 100%;
					width: 100%;
					background-image: url(../img/noise.png);
					pointer-events: none;
					transition: opacity .5s ease-out;
				}
			}
		}
	}
	.pxl-swiper-slide {
		margin-bottom: 0;
	}
}
/*--------------------------------------------------------------
TEAM GRID
----------------------------------------------------------------
# Team Grid
--------------------------------------------------------------*/
