/*--------------------------------------------------------------
testimonials grid
----------------------------------------------------------------
# testimonial grid
# testimonial carousel
--------------------------------------------------------------*/
.pxl-item--star.pxl-item--4-star {
	svg:nth-child(1){
		display: none;
	}
}
.pxl-item--star.pxl-item--3-star {
	svg:nth-child(1),svg:nth-child(2){
		display: none;
	}
}
.pxl-item--star.pxl-item--2-star {
	svg:nth-child(1),svg:nth-child(2),svg:nth-child(3){
		display: none;
	}
}
.pxl-item--star.pxl-item--1-star {
	svg:nth-child(1),svg:nth-child(2),svg:nth-child(3),svg:nth-child(4){
		display: none;
	}
}
// testimonial grid
.pxl-testimonial-grid1 {
	.pxl-grid-item {
		margin-bottom: 30px;

		.pxl-item--inner  {
			background-color: #fff;
			border: 1px solid #d0d0d0;
			padding: 40px 45px 47px 45px;
			border-radius: 20px;
			@media (max-width: 767px) {
				padding: 30px 15px 30px 15px;
			}
		}
		.pxl-item--avatar  {
			max-width: 76px;
			img {
				width: 100%;
			}
		}
		.pxl-item--description {
			font-size: 15px;
			line-height: 28px;
			font-weight: 400;
			color: #4b535d;
			border-bottom: 1px solid #dcdddf;
			padding-bottom: 31px;
			margin-top: 32px;
		}
		.pxl-item--star {
			display: flex;
			align-items: center;
			column-gap: 1px;
			svg {
				margin-top: -2px;
				width: 14px;
				fill:#e52421;
			}
		}
		.top-content{
			margin-top: 32px;
			display: flex;
			align-items: center;
			column-gap: 20px;
			.pxl-item--title {
				font-size: 17px;
				font-weight: 500;
				line-height: 30px;
				margin-bottom: 0;
			}
		}
		.pxl-item--position {
			margin-top: 5px;
			font-size: 15px;
			color: #848b94;
		}
	}
	.btn--loadmore {
		text-align: center;
		margin-top: 20px;
		a {
			@extend .ft-gt;
			display: inline-block;
			font-size: 15px;
			background-color: $secondary_color;
			border-radius: 100px;
			color: #fff;
			line-height: 50px;
			padding: 0 35px;
			&:hover {
				background-color: #fff;
				color: $secondary_color;
			}
		}
	}
}

.pxl-testimonial-grid2 {
	.title-rate {
		@extend .ft-heading;
		font-size: 25px;
		font-weight: 500;
		color: $secondary_color;
		margin-bottom: 59px;
		margin-top: 49px;
		@media (max-width: 1200px) {
			margin-top: 20px;
			margin-bottom: 30px;
		}
		@media #{$max-sm} {
			margin-top: 0px;
		}
	}
	.pxl-grid-item {
		&:last-child {
			margin-bottom: 0;
			.pxl-item--inner {
				border-bottom-color: transparent;
			}
		}
		.pxl-item--inner  {
			border: 1px solid rgba(#111, .15);
			border-right-color: transparent;
			border-top-color: transparent;
			padding: 70px 0 70px 109px;
			@media (max-width: 1200px) {
				padding: 70px 0 70px 40px;
			}
			@media (max-width: 767px) {
				padding: 40px 0 40px 15px;
			}
		}
		.top-content {
			display: flex;
			column-gap: 45px;
			@media (max-width: 1024px) {
				display: block;
			}
			.quote {
				text-align: center;
				background-color: $secondary_color;
				border-radius: 100px;
				width: 46px;
				min-width: 46px;
				line-height: 45px;
				height: 46px;
				border-radius: 100px;
				margin-top: 9px;
			}
		}
		.pxl-item--description {
			@media (max-width: 1024px) {
				margin-top: 20px;
			}
			font-size: 17px;
			line-height: 30px;
			font-weight: 400;
			margin: 0;
		}
		.bottom-content{
			margin-top: 31px;
			display: flex;
			align-items: center;
			justify-content: end;
			@media (max-width: 1024px) {
				display: block;
			}
		}
		.pxl-item--title {
			position: relative;
			padding: 0 10px;
			display: inline-block;
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
			margin-bottom: 0;
			&:after {
				content: '/';
				position: absolute;
				right: 0;
				top: 0;
				transform: translateX(50%);
			}
		}
		.pxl-item--position {
			margin-top: 3px;
			padding: 0 10px;
			font-size: 15px;
			line-height: 30px;
		}
	}
	&.style-2 {
		.pxl-item--inner {
			padding: 0;
			background-color: transparent;
		}
		.bottom-content {
			padding-left: 0;
			margin-top: 35px;
		}
		.top-content .quote{
			display: none;
		}
	}
}

// testimonial carousel


// testimonial slip
.pxl-sticky {
	position: sticky;
	height: 100vh;
	top: 0;
	overflow: hidden;
	@media #{$max-sm} {
		position: static;
		height: auto;
	}
}
.pxl-testimonial-slip-wrapper {
	min-height: 250vh;
	@media #{$max-sm} {
		min-height: auto;
	}
}

//carousel
.swiper-button-disabled {
	opacity: 0.3;
}
.pxl-testimonial-carousel1 {
	.pxl-item--star {
		display: inline-flex;
		align-items: center;
		column-gap: 1px;
		svg {
			width: 14px;
			fill:$primary_color;
		}
	}
	.pxl-swiper-bottom {
		position: relative;
		z-index: 2;
		margin-top: -27px;
		justify-content: end;
		@media (max-width: 991px) {
			margin-top: 30px;
			justify-content: start;
		}
		span:last-child {
			margin-right: 5px;
		}
	}
	.pxl-wrap-arrow {
		column-gap: 37px;
	}
	.pxl-swiper-slide {
		.pxl-item--inner  {
			.pxl-item--desc {
				font-size: 20px;
				color: #4b535d;
				@extend .ft-gt;
				line-height: 35px;
				position:relative;
				padding-bottom: 29px;
				border-bottom: 1px solid #d7d7d7;
			}
			.content-bottom {
				margin-top: 34px;
				display: flex;
				align-items:end;
				justify-content: space-between;
				@media (max-width: 767px) {
					display: block;
				}
			}
			.pxl-item--holder {
				column-gap: 30px;
				@media (max-width: 767px) {
					column-gap: 20px;
					display: block;
				}
				.pxl-item--avatar {
					width: 62px;
					height: 62px;
					position:relative;
				}
			}
			.pxl-item--title {
				font-size: 17px;
				font-weight: 500;
				color: $secondary_color;
				line-height: 30px;
				margin-bottom: 1px;
				display: inline-block;
				padding-right: 26px;
			}
			.pxl-item--position {
				margin-top: 3px;
				font-size: 15px;
				color: #848b94;

			}
		}
	}
} 
.pxl-testimonial-carousel4 {
	&.style-2 {
		.pxl-item--inner {
			display: flex;
			flex-direction: column-reverse;
			gap: 14px;
		}
	}
	&:hover {
		.pxl-swiper-bottom {
			left: -79px;
			right: -79px;
			opacity: 1;
			visibility: visible;
			@media (max-width: 1400px) {
				left: 0;
				right: 0;
			}
		}
	}
	.pxl-swiper-pagination-fraction {
		font-size: 20px;
		@extend .ft-gt;
		font-weight: 400;
		margin-top: 29px;
		color: $secondary_color;
	}
	.pxl-swiper-bottom {
		position:absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: .3s linear;
		opacity: 0;
		visibility: hidden;
		@media (max-width: 1400px) {
			.pxl-wrap-arrow {
				justify-content: center;
				.pxl-swiper-arrow {
					margin: 0 15px;
				}
			}
			&:before {
				display: none;
			}
		}
		@-moz-document url-prefix() {
			&:before {
				height: 1px;
			}
		}
		svg {
			height: 35px;
		}
		i {
			position:relative;
			z-index: 2;
		}
		.pxl-wrap-arrow {
			justify-content: space-between;
			width: 100%;
			.pxl-swiper-arrow {
				width: 33px;
				height: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 2;
				&.pxl-swiper-arrow-prev {
					transform: rotate(180deg);
				}
			}
		}
	}
	.pxl-wrap-arrow {
		column-gap: 37px;
	}
	.pxl-swiper-slide {
		.pxl-item--inner  {
			.pxl-item--desc {
				font-size: 25px;
				color: #111;
				@extend .ft-gt;
				text-align: center;
				line-height: 40px;
				position:relative;
				padding-bottom: 29px;
				padding-top: 28px;
			}
			.pxl-item--holder {
				column-gap: 30px;
				flex-direction: column;
				justify-content: center;
				.pxl-item--meta {
					text-align: center;
				}
				.pxl-item--avatar {
					width: 95px;
					height: 95px;
					position:relative;
					margin-bottom: 20px;
					img {
						border-radius: 50%;
						filter: grayscale(1) brightness(0.9);
						overflow: hidden;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						border-radius: inherit;
						left: 0;
						height: 100%;
						border-radius: 50%;
						width: 100%;
						background-image: url(../img/noise.png);
						pointer-events: none;
						transition: opacity .5s ease-out;
					}
					.quote {
						position: absolute;
						right: 0;
						bottom: 0;
						display: flex;
						justify-content: center;
						width: 42px;
						height: 42px;
						line-height: 47px;
						background-color: $secondary_color;
						border-radius: 50%;
						border: 4px solid #fff;
						@extend .ft-gt;
						color: #fff;
						font-size: 40px;
					}
				}
			}
			.pxl-item--title {
				font-size: 20px;
				color: $secondary_color;
				font-weight: 400;
				line-height: 30px;
				margin-bottom: 1px;
				display: inline-block;
			}
			.pxl-item--position {
				margin-top: 3px;
			}
		}
	}
} 
.pxl-testimonial-carousel2 {
	border: 1px solid rgba($secondary_color_hex, .15);
	padding: 101px 244px 81px;
	&:hover {        
		&:before,&:after,.pxl-carousel-inner:after,.pxl-carousel-inner:before {
			transform: scale(0);
		}
	}
	&:before,&:after {
		content: '';
		position: absolute;
		width: 22px;
		height: 22px;
		border-style: solid;
		border-color: rgba($secondary_color_hex, .15);
		@include transition(all .5s ease-in-out);
		z-index: 1;
	}
	&:before {
		left: -22px;
		top: -22px;
		border-width: 0px 1px 1px 0px;
		transform-origin: bottom right;
	}
	&:after {
		right: -22px;
		bottom: -22px;
		border-width: 1px 0px 0px 1px;
		transform-origin: top left;
	}
	.pxl-carousel-inner {
		transition: 0.3s linear;
		&:before,&:after {
			content: '';
			position: absolute;
			width: 22px;
			height: 22px;
			border-style: solid;
			border-color: rgba($secondary_color_hex, .15);
			@include transition(all .5s ease-in-out);
			z-index: 1;
		}
		&:before {
			left: -22px;
			bottom: -22px;
			border-width: 1px 1px 0px 0px;
			transform-origin: top right;
		}
		&:after {
			right: -22px;
			top: -22px;
			border-width: 0px 0px 1px 1px;
			transform-origin: bottom left;
		}
	}
	.pxl-item--star {
		display: inline-flex;
		align-items: center;
		column-gap: 1px;
		svg {
			width: 14px;
			fill:$primary_color;
		}
	}
	.pxl-swiper-bottom {
		position: relative;
		z-index: 5;
		justify-content: end;
		@media (max-width: 991px) {
			margin-top: 30px;
			justify-content: start;
		}
		span:last-child {
			margin-right: 5px;
		}
	}
	.pxl-swiper-arrow-prev {
		svg {
			transform: scalex(-1);
		}
	}
	.pxl-wrap-arrow {
		position:absolute;
		top: 50%;
		right: 102px;
		left: 102px;
		transform: translateY(-50%);
		justify-content: space-between;
		@media (max-width: 767px) {
			position:relative;
			bottom: auto;
			right: auto;	
		}
	}
	.link-more {
		a{
			display: flex;
			width: 62px;
			min-width: 62px;
			height: 62px;
			border-radius: 1000px;
			border: 1px solid #d8d9da;	
			align-items: center;
			justify-content: center;
			@include transition(all .25s cubic-bezier(.645,.045,.355,1));
			@media (max-width: 575px) {
				width: 40px;
				min-width: 40px;
				height: 40px;
			}
			span {
				position:relative;
				display: block;
				@include transition(all .25s cubic-bezier(.645,.045,.355,1));
				width: 6px;
				height: 6px;
				border-radius: 100px;
				background-color: #121c27;
				@media (max-width: 575px) {
					width: 4px;
					height: 4px;
				}
				&:before {
					position: absolute;
					content:'';
					top:0;
					left: -12px;
					width: 6px;
					height: 6px;
					border-radius: 100px;
					background-color: #121c27;
					@include transition(all .25s cubic-bezier(.645,.045,.355,1));
					@media (max-width: 575px) {
						width: 4px;
						height: 4px;
						left: -10px;
					}
				}
				&:after {
					position: absolute;
					content:'';
					top:0;
					right: -12px;
					width: 6px;
					height: 6px;
					@include transition(all .25s cubic-bezier(.645,.045,.355,1));
					border-radius: 100px;
					background-color: #121c27;
					@media (max-width: 575px) {
						width: 4px;
						height: 4px;
						right: -10px;
					}
				}
			}
			&:hover {
				background-color: #121c27;
				border-color: #121c27;
				span,span:before,span:after {
					background-color: #fff;
				}
			}
		}
	}
	.pxl-swiper-slide {
		.pxl-item--inner  {
			position:relative;
			.pxl-item--desc {
				font-size: 25px;
				color: $secondary_color;
				@extend .ft-gt;
				line-height: 38px;
				position:relative;
				padding-bottom: 29px;
			}
		}
	}
	.pxl-carousel-inner {
		z-index: 3;
		display: flex;
		align-items: center;
	}
	.meta-top {
		padding-top: 11px;
	}
	.pxl-item--title {
		font-size: 20px;
		font-weight: 400;
		color: $secondary_color;
		line-height: 30px;
		margin-bottom: 1px;
		display: inline-block;
		padding-right: 26px;
	}
	.pxl-item--position {
		margin-top: 3px;
		font-size: 15px;
	}
	.pxl-swiper-container {
		border-left: 1px solid rgba(17, 17, 17, .15);
		margin-left: 77px;
		padding-left: 72px;
	}
	.pxl-swiper-thumbs {
		width: 366px;
		min-width: 366px;
		.swiper-slide {
			z-index: 10;
			padding: 0;
			overflow: hidden;
			.pxl-item--inner {
				display: inline-flex;
				align-items: center;
				column-gap: 25px;
			}
			.pxl-item--image {
				width: 178px;
				min-width: 178px;
				height: 178px;
				border-radius: 50%;
				overflow: hidden;
				position:relative;
				@media (max-width: 575px) {
					width: 40px;
					min-width: 40px;
					height: 40px;
				}
			}
			&.swiper-slide-thumb-active {
				z-index: 9;
				@include transition(all .5s cubic-bezier(.645,.045,.355,1));
				.pxl-item--meta {
					clip-path: inset(0 0 0 0);
					position:relative;
					@include transition(all 1s cubic-bezier(.645,.045,.355,1));
				}
			}
		}
	}
} 
.pxl-testimonial-carousel3 {
	&.style-2 {
		.pxl-item--inner {
			background-color: #fff;
			text-align: left;
			padding: 69px 60px 101px;
			@media (max-width: 767px) {
				padding: 40px 15px 50px;
			}
			>svg {
				width: 45px;
				height: 45px;
			}
			i {
				font-size: 27px;
			}
			.pxl-item--desc {
				font-size: 22px;
				line-height: 35px;
				padding-top: 51px;
				padding-bottom: 61px;
			}
			.pxl-item--title {
				font-size: 20px;
				font-weight: 500;
				@extend .ft-gt;
				letter-spacing: 0;
				text-transform: capitalize;
			}
		}
	}
	.pxl-swiper-bottom {
		position: relative;
		z-index: 2;
		margin-top: -27px;
		justify-content: end;
		@media (max-width: 991px) {
			margin-top: 30px;
			justify-content: start;
		}
		span:last-child {
			margin-right: 5px;
		}
	}
	.pxl-wrap-arrow {
		column-gap: 37px;
	}
	.pxl-item--inner  {
		text-align: center;
		.pxl-icon {
			@extend .ft-gt;
			font-weight: 500;
			color: $secondary_color;
			line-height: 70px;
			font-size: 80px;
			margin-bottom: 29px;
			@media (max-width: 991px) {
				margin-bottom: 0;
			}
		}
		.pxl-item--desc {
			font-size: 30px;
			color: $secondary_color;
			@extend .ft-gt;
			line-height: 45px;
			position:relative;
			padding-bottom: 58px;
			@media (max-width: 991px) {
				font-size: 24px;
				line-height: 1.7;
				padding-bottom: 28px;
			}
			@media (max-width: 767px) {
				font-size: 20px;
			}
		}
		.pxl-item--title {
			font-size: 13px;
			font-weight: 500;
			color: $secondary_color;
			@extend .ft-public;
			letter-spacing: 3.9px;
			text-transform: uppercase;
			line-height: 30px;
			margin-bottom: 1px;
			display: inline-block;
			padding-right: 26px;
		}
	}
} 

//rtl
body.rtl {

}