/*
color: #{'rgba(var(--primary-color-rgb),0.1)'};
font-family: 'Inter', sans-serif;
font-family: 'Inter', sans-serif;
@extend .ft-theme-default;
font-family: 'Inter';
color: {{VALUE}};text-fill-color: {{VALUE}};-webkit-text-fill-color: {{VALUE}};background-image: none;
*/

html {
    box-sizing: border-box;
}
body {
    background-color: #0C1226;
    font-size: 16px;
    line-height: 1.625;
    color: #b9b9bf;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-weight: normal;
    letter-spacing: 0;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    &.body-overflow {
        overflow: hidden;
    }
}
.pxl-wapper {
    @media (max-width: 1199px) {
        overflow: hidden;
    }
}
a {
    @include transition(all .25s cubic-bezier(.645,.045,.355,1));
    &:before, &:after {
        @include transition(inherit);
    }
    color: $link_color;
    &:hover, &:focus {
        color: $link_color_hover;
    }
    &:active {
        color: $link_color_active;
    }
}
a, a:hover, a:focus, a:before, a:after {
  outline: none;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    color: $secondary_color;
    font-weight: 700;
    margin: 0 0 15px;
    clear: both;
    line-height: 1.2;
}
h1, .h1 {
  font-size: 80px;
}

h2, .h2 {
  font-size: 64px;
}

h3, .h3 {
  font-size: 56px;
}

h4, .h4 {
  font-size: 44px;
}

h5, .h5 {
  font-size: 36px;
}

h6, .h6 {
  font-size: 30px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
p {
    font-family: "Inter", sans-serif ;
    font-size: 17px;
    font-weight: 400;
    color: #B9B9BF;
    padding: 0;
    line-height: 28px;
    word-spacing: 0px;
}

// Unitest
//--------------------------------------------------
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    img[class*="wp-image-"] {
        @include center-block;
    }
    .wp-caption-text {
        padding: 0.8075em 0;
        font-size: 0.875em;
        font-style: italic;
    }
}
.gallery-caption {
    opacity: 1;
}
.wp-caption-text {
    text-align: center;
}
.alignleft,
.alignright,
.aligncenter {
    margin-top: 6px;
    margin-bottom: 45px;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 35px;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 35px;
}
.aligncenter {
    clear: both;
    @include center-block;
}
.sticky {
    display: block;
}
.screen-reader-text {
    display: none;
}
.bypostauthor {
    display: block;
}
blockquote {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
    border: none;
    border-left: solid 3px #333333;
    padding-left: 30px;
    color: #606060;
    margin: 10px 0 10px 0;
    cite,cite a,p:nth-child(2) {
        display: inline-block;
        font-size: 15px;
        margin-top: 10px;
        @extend .ft-rubik;
        font-style: normal;
        font-weight: 700;
        position: relative;
        color: $primary_color !important;
    }
    p:last-child {
        margin-bottom: 0;
    }
    &.is-style-large.wp-block-quote {
        padding: 32px 57px 32px 37px;
    }
    &.wp-block-quote {
        p {
            margin-bottom: 16px !important;
        }
        cite br {
            display: none;
        }
        &.has-text-align-right {
            &:before {
                left: auto;
                right: 0;
            }
        }
    }
}
.dark-mode {
    blockquote {
        color: #fff;
    }
}
#tslOverlay {
  background-color: transparent !important;
  z-index: 999999 !important;
}