html {
    box-sizing: border-box;
}
body {
    background-color: $body_bg_color;
    font-size: 15px;
    line-height: 1.66666;
    color: $third_color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-weight: normal;
    letter-spacing: 0;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #2e2e2e;
        border: 2px solid transparent;
        background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:hover {
        border: 0;
    }
    &::-webkit-scrollbar-track {
        background: $fourth_color;
        @include box-shadow(inset 0 0 6px rgba(0, 0, 0, 0.2));
    }
    &.body-overflow {
        overflow: hidden;
    }
    @media #{$max-sm} {
        &.body-visible-sm {
            overflow: visible;
        }
    }
}
a {
    @include transition(all .25s cubic-bezier(.645,.045,.355,1));
    &:before, &:after {
        @include transition(inherit);
    }
    color: $secondary_color;
    &:hover {
        color: $primary_color;
    }
    &:active {
        color: $primary_color;
    }
}
a, a:hover, a:focus, a:before, a:after {
  outline: none;
  text-decoration: none;
}
.ft-heading {
    font-family: 'Founders Grotesk';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Founders Grotesk';
    color: #111;
    font-weight: 500;
    margin: 0 0 15px;
    clear: both;
    line-height: 1.36363636;
}
h1, .h1 {
  font-size: 7.8125vw;
  line-height: 7.2917vw;
}

h2, .h2 {
  font-size: 48px;
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 28px;
}

h5, .h5 {
  font-size: 20px;
  line-height: 1.6;
}

h6, .h6 {
  font-size: 17px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
p {
    //font-family: 'DM Sans', sans-serif;
    margin: 0 0 15px;
}

// Unitest
//--------------------------------------------------
table {
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin: 0 0 32px;
    width: 100%;
    @include border-radius(0);
    th {
        color: #000;
    }
}
caption, td {
    font-weight: normal;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding: 13px 8px;
}
th {
    font-weight: 600;
    border-top: 1px solid #ededed;
    padding: 10px;
    border-right: 1px solid #ededed;
}
td {
    border-top: 1px solid #ededed;
    padding: 10px;
    border-right: 1px solid #ededed;
}
dl {
    margin: 0 0 0 25px;
}
dl dt {
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
dl dd {
    line-height: normal;
    margin-bottom: 20px;
    a {
        color: #000;
        &:hover {
            color: $primary_color;
        }
    }
}

code, kbd {
    background-color: transparent;
    border-radius: 4px;
    color: inherit;
    font-size: 100%;
    padding: 2px 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
ins {
    color: #fff;
    border: none;
    padding: 2px;
    text-decoration: none;
    background-color: $primary_color;
}
pre {
    background: #f5f5f5;
    color: #666;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
ol {
    list-style: outside none decimal;
    margin-bottom: 32px;
}
ul {
    padding: 0;
    margin: 0 0 32px;
    li {
        list-style-position: inside;
    }
}

dl + h2 + ul {
    padding-left: 35px;
    ul {
        padding-left: 35px;
        li {
            list-style: outside;
        }
    }
}
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    img[class*="wp-image-"] {
        @include center-block;
    }
    .wp-caption-text {
        padding: 0.8075em 0;
        font-size: 0.875em;
        font-style: italic;
    }
}
.gallery-caption {
    opacity: 1;
    margin-top: 10px;
}
.wp-block-group.has-background {
    padding: 40px;
    margin-bottom: 30px;
}
.wp-caption-text {
    text-align: center;
}
.alignleft,
.alignright,
.aligncenter {
    margin-top: 15px;
    margin-bottom: 32px;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 30px;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 35px;
}
.aligncenter {
    clear: both;
    @include center-block;
}
.sticky {
    display: block;
}
.screen-reader-text {
    display: none;
}
.bypostauthor {
    display: block;
}
.bq-divider {
    .pxl-text-editor {
        &:before,&:after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-style: solid;
            border-color: rgba($secondary_color_hex, .15);
            @include transition(all .5s ease-in-out);
            z-index: 1;
        }
        &:before {
            left: -7px;
            top: -7px;
            border-width: 0px 1px 1px 0px;
            transform-origin: bottom right;
        }
        &:after {
            right: -7px;
            bottom: -7px;
            border-width: 1px 0px 0px 1px;
            transform-origin: top left;
        }
        .pxl-item--inner {
            &:before,&:after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                border-style: solid;
                border-color: rgba($secondary_color_hex, .15);
                @include transition(all .5s ease-in-out);
                z-index: 1;
            }
            &:before {
                left: -7px;
                bottom: -7px;
                border-width: 1px 1px 0px 0px;
                transform-origin: top right;
            }
            &:after {
                right: -7px;
                top: -7px;
                border-width: 0px 0px 1px 1px;
                transform-origin: bottom left;
            }
        }
    }
}
blockquote:not(.pxl-blockquote) {
    a {
        color: #fff;
    }
    background-repeat: no-repeat;
    margin: 0;
    background-position: bottom center;
    padding: 46px 65px 38px 65px;
    position: relative;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    color: $secondary_color;
    border: 1px solid rgba($secondary_color_hex , 0.15);
    position: relative;
    @media (max-width: 575px) {
        padding: 20px;
    }
    .bq-date {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        span {
            font-size: 15px;
            padding: 0 25px;
            &:first-child {
                padding-left: 0;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 18px;
                    background-color: rgba($secondary_color_hex, .15);
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &:before {
        position: absolute;
        content: "";
        width: 51px;
        height: 51px;
        top: 53px;
        background-color: $secondary_color;
        border-radius: 1000px;
        text-align: center;
        line-height: 90px;
        left: 48px;
        background-image: url(../img/fm-qt.png);
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 65px;
        @media (max-width: 575px) {
            display: none;
        }
    }
    p {
        @extend .ft-gt;
        line-height: 28px;
    }
    p,.bq-date{
        padding-left: 102px;
        @media (max-width: 575px) {
            padding-left: 0;
        }
    }
    a:hover {
        color: $primary_color;
    }
    cite {
        display: block;
        border-top: 1px solid rgba($secondary_color_hex, 0.15);
        padding-top: 19px;
        @extend .ft-gt;
        margin-top: 22px;
        font-style: normal;
        font-size: 17px;
        text-align: right;
        @media (max-width: 575px) {
            margin-left: 0;
        }
    }
    &.wp-block-quote {
        p {
            margin-bottom: 16px !important;
        }
        cite br {
            display: none;
        }
        &.has-text-align-right {
            &:before {
                left: auto;
                right: 0;
            }
        }
    }
}
.wp-block-button {
  margin-bottom: 20px;
  .wp-block-button__link {
    padding-left: 32px;
    padding-right: 32px;
    background-color: $secondary_color;
    font-size: 16px;
    font-weight: 700;
    &:not([href]) {
      color: #fff;
  }
  &:hover {
    background-color: $primary_color;
    border-color: $primary_color;
    color: #fff;
    &:not([href]) {
        color: #fff;
    }
}
}
&.is-style-outline .wp-block-button__link {
    background-color: transparent;
    color: $primary_color;
    &:hover {
      background-color: $primary_color;
      border-color: $primary_color;
      color: #fff;
  }
}
&.is-style-squared .wp-block-button__link {
    @include border-radius(0px);
}
&.aligncenter {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
}
.has-background-dim {
  color: #fff;
  margin-bottom: 30px;
}
.wp-block-gallery {
  .blocks-gallery-item {
    float: left;
}
.blocks-gallery-caption {
    margin-bottom: 22px;
}
&.alignleft {
    margin-right: 30px;
}
&.alignright {
    margin-left: 30px;
}
}
#tslOverlay {
  background-color: transparent !important;
  z-index: 999999 !important;
}



.nice-select {
    @include border-radius(0);
}