.w-100vw {
    width: 100vw !important;
}
@media (max-width: 575px) {
    .full-575,.w100-575 {
        width: 100% !important;
        max-width: 100% !important;
    }   
    .w100-575 .elementor-widget-container {
        margin-top: 0 !important;
    }
}
.z-index-1 {
    z-index: 1;
}
.pxl-icon-reverse {
    @include transform(scaleX(-1));
}
.pxl-icon-middle {
    position: relative;
    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}

.img-cover-center {
    object-fit: cover;
    object-position: center
}
.perspective {
    perspective: 1200px;
}
.pxl-hidden {
    display: none;
}
.color-white {
    color: #fff;
}
.btn-flex {
    display: inline-flex;
    align-items: center;
    i {
        display: inline-flex;
    }
}
.field-dflex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pxl-text-nowrap {
    white-space: nowrap;
}

.pxl--hover-slideup {
    @include transition(all 0.65s cubic-bezier(0.23, 1, 0.32, 1));
    &:hover {
        @include transform(translateY(-5px));
    }
}
.pxl--effect-slide {
    &:after {
        transform-origin: right center;
        -webkit-transform-origin: right center;
        @include transform(scale(0, 1));
        @include transition(transform 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85));
    }
    &:hover:after {
        transform-origin: left center;
        -webkit-transform-origin: left center;
        @include transform(scale(1, 1));
    }
}
.d-inline-block {
    display: inline-block;
}
.pxl-d-flex {
    display: inline-flex;
}
.pxl-mw-1200 {
    max-width: 1200px;
}
.fs-17 {
    font-size: 17px;
}
.lt-4 {
    letter-spacing: -0.03em !important;
}
.pxl-text-center {
    text-align: center;
    @media #{$max-sm} {
        .pxl-link-page1  .pxl-item--inner {
            justify-content: center;
        }
    }
}
.pxl-text-left {
    text-align: left;
}
.pxl-text-right {
    text-align: right;
}
.pxl-img--mask {
    width: 100px;
    height: 100px;
    position: relative;
    .pxl--mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask-repeat: no-repeat;
        -ms-mask-repeat: no-repeat;
        -o-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -ms-mask-position: center center;
        -o-mask-position: center center;
        mask-position: center center;
        mask-size: cover;
        -webkit-mask-size: cover;
    }
}
.text-primary {
    color: $primary_color;
}
.text-secondary {
    color: $secondary_color;
}
.pxl-flex-grow {
    flex-grow: 1;
}
.pxl-icon--plus {
    height: 10px;
    width: 10px;
    position: relative;
    cursor: pointer;
    &:before, &:after {
        content: '';
        background-color: #122a00;
        position: absolute;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
    }
    &:before {
        width: 8px;
        height: 2px;
        top: 10px;
        left: 7px;
    }
    &:after {
        width: 2px;
        height: 8px;
        left: 10px;
        top: 7px;
    }
}
.pxl-icon--minus {
    height: 10px;
    width: 10px;
    position: relative;
    cursor: pointer;
    &:before {
        content: '';
        background-color: #122a00;
        position: absolute;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
    }
    &:before {
        width: 10px;
        height: 2px;
        top: 10px;
        left: 5px;
    }
}
.flex-center {
    .pxl-text-editor {
        .pxl-item--inner {
            p {
                display: flex;
                align-items: center;
                .pxl-text--highlight {
                    margin-top: 3px;
                    margin-right: 4px;  
                }
            }
        }
    }
}
.pxl-inline-flex {
    display: inline-flex;
    align-items: center;
}
.pxl-flex {
    display: flex;
    flex-wrap: wrap;
}
.pxl-flex-top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.pxl-flex-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pxl-flex-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.pxl-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.pxl-widget-flex {
    > .elementor-widget-container > div {
        display: flex;
    }
}
.el-empty:empty, .pxl-empty:empty {
    display: none !important;
}
.pxl-spill {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
.pxl-skew {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $primary_color;
    transform: skew(-9deg);
    @include transition(all .25s cubic-bezier(.645,.045,.355,1));
}
.pxl-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}
.pxl-icon--middle {
    position: relative;
    * {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}
.pxl-grid-scroll-ani {
    .list-item,.pxl-grid-item {
        opacity: 0;
        &.visible {
            opacity: 1;
            .grid-item-inner,.pxl-post--inner {
                position: relative;
                &:before {
                    background: repeating-linear-gradient(#868686, #fff 6.25%), -webkit-gradient(linear, left top, left bottom, color-stop(33.3%, #000), color-stop(0, grey), color-stop(66.7%, #fff)) 0/100% 305%;background: -o-repeating-linear-gradient(#868686, #fff 6.25%), -o-linear-gradient(#000 33.3%, grey 0, #fff 66.7%) 0/100% 305%;background: repeating-linear-gradient(#868686, #fff 6.25%), linear-gradient(#000 33.3%, grey 0, #fff 66.7%) 0/100% 305%;
                    background-blend-mode: multiply;
                    background-position: 0 0;
                    -webkit-filter: contrast(999);filter: contrast(999);
                    mix-blend-mode: screen;
                    @extend .pxl-spill;
                    @include animation(pxl_blinds_staggered 1.5s linear alternate);
                }
            }
        }
    }
}
.pxl-grid-zoom-in {
    .list-item,.pxl-grid-item {
        .item-featured,.pxl-post--featured {
            position: relative;
            overflow: hidden;
            img {
                transform: scale3d(1.3, 1.3, 1);
                backface-visibility: hidden;
                will-change: transform;
                transition: transform 1400ms ease, filter 1400ms ease;
            }
        }
        &.visible {
            .item-featured img, .pxl-post--featured img{
                transform: scale3d(1, 1, 1);
            }
        }
    }
}
.pxl-grid-overlay {
    .list-item, .pxl-grid-item {
        .item-featured, .pxl-post--featured {
            position: relative;
            overflow: hidden;
            opacity: 0;
            transform: translateY(60px);
            will-change: opacity, transform;
            transition: opacity 1600ms ease, transform 800ms ease, filter 1600ms ease;
            img {
                transform: scale3d(1.2, 1.2, 1);
                backface-visibility: hidden;
                will-change: transform;
                transition: transform 1600ms ease, filter 1600ms ease;
            }
        }

        &.visible {
            .item-featured img, .pxl-post--featured img{
                transform: scale3d(1, 1, 1);
            }
            .item-featured, .pxl-post--featured {
                opacity: 1;
                transform: translateY(0); 
            }
        }
    }
}

.w-100 {
    width: 100% !important;
}
.h-100 {
    height: 100% !important;
}
.pxl-border-anm.bw-yes {
  border-width: var(--bd-width); }
@media (max-width: 1599px) {
  .pxl-border-anm.bw-laptop-no {
    border-width: 0; }
  .pxl-border-anm.bw-laptop-yes {
    border-width: var(--bd-width); } }
@media (max-width: 1199px) {
  .pxl-border-anm.bw-tablet_extra-no {
    border-width: 0; }
  .pxl-border-anm.bw-tablet_extra-yes {
    border-width: var(--bd-width); } }
@media (max-width: 991px) {
  .pxl-border-anm.bw-tablet-no {
    border-width: 0; }
  .pxl-border-anm.bw-tablet-yes {
    border-width: var(--bd-width); } }
@media (max-width: 767px) {
  .pxl-border-anm.bw-mobile_extra-no {
    border-width: 0; }
  .pxl-border-anm.bw-mobile_extra-yes {
    border-width: var(--bd-width); } }
@media (max-width: 575px) {
  .pxl-border-anm.bw-mobile-no {
    border-width: 0; }
  .pxl-border-anm.bw-mobile-yes {
    border-width: var(--bd-width); } }
    
.pxl-border-anm.bw-no{
    border-width: 0;
}
.pxl-border-anm.bw-yes{
    border-width: var(--bd-width);
}
@each $breakpoint, $max_width in $screen_breakpoints {
    @media (max-width: $max_width){
        .pxl-border-anm.bw-#{$breakpoint}-no{
            border-width: 0;
        }
        .pxl-border-anm.bw-#{$breakpoint}-yes{
            border-width: var(--bd-width);
        }
    }
} 
.elementor-section.pxl-border-section-anm{
    border-width: 0 !important;
}
.elementor-column.pxl-border-column-anm > .elementor-element-populated{
    border-width: 0 !important;
}
.elementor-element.pxl-border-wg-anm > .elementor-widget-container{
    border-width: 0 !important;
    position: relative;
}
.pxl-border-animated{
    .pxl-border-anm{
        position: absolute;
        transition: transform 1.5s cubic-bezier(.77,0,.175,1);
        &.bt{
            top: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: 0 0;
        }
        &.br{
            top: 0;
            right: 0;
            transform: scaleY(0);
            transform-origin: 100% 0;
        }
        &.bb{
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: 0 100%;
        }
        &.bl{
            top: 0;
            left: 0;
            transform: scaleY(0);
            transform-origin: 0 0;
        }
    }
    &.num-3 .pxl-border-anm,
    &.num-4 .pxl-border-anm{
        &.br,
        &.bb{
            transition-delay: 1s;
        }
    }
    &.pxl-animated .pxl-border-anm{
        transform: scale(1);
    }
}
.pxl-bd-anm{
    border-width: 0 0 1px 0; 
    border-style: solid;
    border-color: #e4e4e4;
    transform: scale(0);
    transition: transform 2s cubic-bezier(.77,0,.175,1);
    &.bt{
        border-width: 1px 0 0 0; 
        transform-origin: 0 0;
    }
    &.br{
        border-width: 0 1px 0 0; 
        transform-origin: 100% 0;
    }
    &.bb{
        border-width: 0 0 1px 0; 
        transform-origin: 0 100%;
    }
    &.bl{
        border-width: 0 0 0 1px; 
        transform-origin: 0 0;
    }
    &.pxl-animated{
        transform: scale(1);
    }
}
.pxl-item--flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pxl-item--flexnw {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
} 
.color-inherit {
    color: inherit;
    &:hover {
        color: inherit;
    }
}
.color-primary {
    color: $primary_color;
    fill: $primary_color;
}
.color-secondary {
    color: $secondary_color;
    fill: $secondary_color;
}
.text-gradient {
    @include background-horizontal($gradient_color_from, $gradient_color_to);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-gradient-top {
    @include background-gradient-bottom($gradient_color_to, $gradient_color_from);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-gradient-bottom {
    @include background-gradient-bottom($gradient_color_from, $gradient_color_to);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.pxl-icon-color-gradient i {
    @include background-horizontal($gradient_color_from, $gradient_color_to);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-gradient-bg {
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.rm-text-gradient {
    text-fill-color: inherit;
    -webkit-text-fill-color: inherit;
    background-image: none;
}
.bg-gradient {
	@include background-horizontal($gradient_color_from, $gradient_color_to);
}
.bg-gradient-bottom {
    @include background-gradient-bottom($gradient_color_from, $gradient_color_to);
}
.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pxl-close {
    @include border-radius(50%);
    background: rgba(255,255,255,0.7);
    border: 9px solid transparent;
    color: #777;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transform-origin: 50% 50%;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        background-color: #1b1b1b;
    }
    &:before {
        @include transform(rotate(45deg));
    }
    &:after {
        @include transform(rotate(-45deg));
    }
    &:hover {
        &:before, &:after {
            @include transform(rotate(0deg));
        }
    }
}
.pxl-left {
    float: left;
}
.pxl-right {
    float: right;
}
.pxl-hide {
    display: none;
}
@media #{$min-xl} {
    .pxl-hide-xl {
        display: none !important;
    }
}
@media #{$max-lg} {
    .pxl-hide-lg {
        display: none !important;
    }
}

@media #{$max-lg2} {
    .pxl-hide-lg2 {
        display: none !important;
    }
}

@media (max-width: 1500px) and (min-width: 1366px) {
    .menu-1366 .pxl-nav-menu.fr-style-divider3 .pxl-menu-primary > li {
        margin-right: 28px !important;
    }
}

// Effect 3D
.pxl-effect--3d {
    .pxl-effect--content {
        opacity: 0;
    }
    .pxl-item--inner:hover .pxl-effect--content {
        opacity: 1;
    }
    .pxl-in--top .pxl-effect--content {
        -webkit-animation: pxl_in_top 0.3s ease 0ms 1 forwards;
        animation: pxl_in_top 0.3s ease 0ms 1 forwards;
    }
    .pxl-out--top .pxl-effect--content {
        -webkit-animation: pxl_out_top 0.3s ease 0ms 1 forwards;
        animation: pxl_out_top 0.3s ease 0ms 1 forwards;
    }
    .pxl-in--top .pxl-effect--content, .pxl-out--top .pxl-effect--content {
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    .pxl-out--bottom .pxl-effect--content {
        -webkit-animation: pxl_out_bottom 0.3s ease 0ms 1 forwards;
        animation: pxl_out_bottom 0.3s ease 0ms 1 forwards;
    }
    .pxl-in--bottom .pxl-effect--content {
        -webkit-animation: pxl_in_bottom 0.3s ease 0ms 1 forwards;
        animation: pxl_in_bottom 0.3s ease 0ms 1 forwards;
    }
    .pxl-in--bottom .pxl-effect--content, .pxl-out--bottom .pxl-effect--content{
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    
    .pxl-out--left .pxl-effect--content {
        -webkit-animation: pxl_out_left 0.3s ease 0ms 1 forwards;
        animation: pxl_out_left 0.3s ease 0ms 1 forwards;
    }
    .pxl-in--left .pxl-effect--content {
        -webkit-animation: pxl_in_left 0.3s ease 0ms 1 forwards;
        animation: pxl_in_left 0.3s ease 0ms 1 forwards;
    }
    .pxl-in--left .pxl-effect--content, .pxl-out--left .pxl-effect--content {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }

    .pxl-out--right .pxl-effect--content {
        -webkit-animation: pxl_out_right 0.3s ease 0ms 1 forwards;
        animation: pxl_out_right 0.3s ease 0ms 1 forwards;
    }
    .pxl-in--right .pxl-effect--content {
        -webkit-animation: pxl_in_right 0.3s ease 0ms 1 forwards;
        animation: pxl_in_right 0.3s ease 0ms 1 forwards;
    }
    .pxl-in--right .pxl-effect--content, .pxl-out--right .pxl-effect--content {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
}

// Custom size
//--------------------------------------------------
.pxl-sz-10 {
    font-size: 10px;
}
.pxl-sz-11 {
    font-size: 11px;
}
.pxl-sz-12 {
    font-size: 12px;
}
.pxl-sz-13 {
    font-size: 13px;
}
.pxl-sz-14 {
    font-size: 14px;
}
.pxl-sz-15 {
    font-size: 15px;
}
.pxl-sz-16 {
    font-size: 16px;
}
.pxl-sz-17 {
    font-size: 17px;
}
.pxl-sz-18 {
    font-size: 18px;
}
.pxl-sz-19 {
    font-size: 19px;
}
.pxl-sz-20 {
    font-size: 20px;
}
.pxl-sz-21 {
    font-size: 21px;
}
.pxl-sz-22 {
    font-size: 22px;
}
.pxl-sz-23 {
    font-size: 23px;
}
.pxl-sz-24 {
    font-size: 24px;
}
.pxl-sz-25 {
    font-size: 25px;
}